[submodule "crystallography"]
	path = crystallography
	url = git@github.com:emmo-repo/domain-crystallography.git
[submodule "mechanics"]
	path = mechanics
	url = https://gitlab.cc-asp.fraunhofer.de/ontology/domains/mechanics.git
